.drop-down {
  text-align: center;

  &__title {
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 0.5rem;
  }

  &__select {
    font-size: 3rem;
    background-color: $secondary-background;
    padding: 0.5rem;
  }

  &__option {
  }
}
