.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

th {
  background-color: #e31837;
  color: #fff;
  padding: 3px;
}

td {
  /* background-color: lightgrey; */
  padding: 3px;
}

tr:hover td {
  background-color: #ffb81c;
}

tr:nth-child(odd) {
  background-color: lightgrey;
}

th {
  text-transform: uppercase;
}
